# 仮想環境
venv/
lost_flask/venv
# Pythonキャッシュ
lost_flask/__pycache__/
lost_flask/*.pyc

# ローカルデータベース
instance/
lost_flask/instance/
*.sql
restore_log.txt

# 講義追加
lost_flask/seed_course.py
lost_flask/syllabus_urls.txt
lost_flask/retry.py
lost_flask/check_db.py
lost_flask/course_list.txt
lost_flask/failed_urls.txt